#car {
    font-family: Arial;
}

#body {
    position: absolute;
    top: 50px;
    width: 80%;
    height: 100px;
    background-color: rgba(236, 232, 232, 0.966);
    text-align: center;
}

#backwheel {
    position: absolute;
    left: 10%;
    top: 130px;
    background-color: #ffffff;
    border: 3px dotted blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#frontwheel {
    position: absolute;
    left: 50%;
    top: 130px;
    background-color: #ffffff;
    border: 3px dotted rgb(235, 8, 114);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}